#navbar {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  padding: 0.7rem 1rem;
  align-items: center;
  border-bottom: 1px solid rgba(179,179,179,0.5)
}

.search {
  width: 60%;
  padding-left: 6%;
  padding-right: 1%;
}

.content {
  width: 20%;
}

#img-logo {
  padding-right: 14px;
}

#bannertext {
  font-size: 18pt;
  font-weight: bold;
  color: #5F6368;
  font-kerning: normal;
}

.background-search {
  background: #F1F3F4;
  border: none;
}

.add-note-container {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.note-child {
  width: 100%;
  padding: 3px 3px 0px 3px;
  margin-left: 34%;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 16px 12px 11px 0px rgba(0,0,0,0.12);
}

#form-sep {
  margin: 0;
}

#cards-container {
  display: flex;
  margin: 20px;
}