#navbar {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  padding: 0.7rem 1rem;
  align-items: center;
  border-bottom: 1px solid rgba(179,179,179,0.5)
}

.search {
  width: 60%;
  padding-left: 6%;
  padding-right: 1%;
}

.content {
  width: 20%;
}

#img-logo {
  padding-right: 14px;
}

#bannertext {
  font-size: 18pt;
  font-weight: bold;
  color: #5F6368;
  font-kerning: normal;
}

.background-search {
  background: #F1F3F4;
  border: none;
}